	* {
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

		html,
		body {
			height: 100%;
			margin: 0;
			font: 16px/20px sans-serif;
		}

	canvas {
    border: 1px solid black;
  }

		#collisionInfo {
			position: absolute;
		}